<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/header.ejs") %>
    <div class="product-content content">
        <img src="<%= product.product_image_url %>" alt="">
        <p> <%= product.product_name %></p>
        <p> <%= product.product_description %></p>
        <p> <%= product.author_surname%>, <%= product.author_name  %></p>
        <p>R<%= product.product_price %></p>
        <p> <%= product.category_name %></p>
    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>