<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/header.ejs") %>
    <%- include("./partials/aside.ejs") %>
    <div class="index-content content">
        <ul>
            <% if (products.length > 0) { %>
                <% products.forEach((product) => { %>
                    <a href="/details/<%= product.product_id %>/<%= product.product_name %>">
                        <li>
                            <img src="<%= product.product_image_url %>">
                            <p> <%= product.product_name %></p>
                            <p> <%= product.product_description %></p>
                            <p> <%= product.author_surname%>, <%= product.author_name  %></p>
                            <p>R<%= product.product_price %></p>
                            <p> <%= product.category_name %></p>
                        </li>
                    </a>
                <% }) %>
            <% } else { %>
                <p>There are no products yet.</p>
            <% } %>
        </ul>
    </div>
</body>
</html>