<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/header.ejs") %>
    <div class="index-content content">
        <%- include("./partials/aside.ejs") %>
        <main class="container">
            <ul class="product-container">
                <% if (products.length > 0) { %>
                    <% products.forEach((product) => { %>
                        <a href="/details/<%= product.product_id %>/<%= product.product_name %>">
                            <li class="product-card card">
                                <div class="img-container">
                                    <img class="product-img img" src="<%= product.product_image_url %>">
                                </div>
                                <div class="product-info info">
                                    <div class="product-details details">
                                        <p class="product-name"> <%= product.formatted_product_name %></p>
                                        <p class="product-author-surname"> <%= product.author_surname%>, <%= product.author_name  %></p>
                                    </div>
                                    <div class="product-desc desc">
                                        <p> <%= product.product_description %></p>
                                    </div>
                                </div>
                                <div class="product-data data">
                                    <p class="product-price">R<%= product.product_price %></p>
                                    <p class="product-category"> <%= product.category_name %></p>
                                </div>
                            </li>
                        </a>
                    <% }) %>
                <% } else { %>
                    <p>There are no products yet.</p>
                <% } %>
            </ul>
        </main>
    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>